{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Top 10 economical bowlers</h1>
    <div id="container"></div>
    <a href="{% url 'index' %}">Go back</a>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'top-ten-economical-bowlers.js' %}"></script>
</body>
</html>